html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#border {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    border-radius: 20px;
}

#container {
    width: 600px;
    height: 600px;
    flex: 1, 1, auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#knobs {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

#knob {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    margin: 14px;
    background-image: radial-gradient(black 0%, white 5%, grey 80%);
}

#row {
    display: flex;
    justify-content: stretch;
    width: auto;
    height: auto;
    flex: auto;
}

.square {
    background-color: tan;
    flex: 1;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #d3b50f;
}

.square.hovered {
    background-color: black;
}